<div class="side">

  <div class="side_header">
    <div class="side_header_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="side_header_btn">
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>

  <div class="side_center">
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room_name">
           <%= link_to room.name, messages_index_path %>
        </div>
      </div>
    <% end %>
  </div>

</div>